@layer components {
    table {
        width: 100%;
    }

    tbody {
        display: block;
        padding: 1em;
        background-color: var(--alabaster);
        border-radius: var(--radius-md);
    }

    tr {
        display: flex;
        justify-content: space-between;
    }

    .arcade {
        border-bottom: 1px solid var(--cool-gray);
        padding-bottom: 0.75em;
        margin-bottom: 0.75em;
    }

    .arcade + tr {
        margin-bottom: 0.5em;
    }

    .arcade a {
        border-bottom: 1.8px solid var(--cool-gray);
    }

    tfoot {
        display: block;
        background-color: var(--white);
        padding: 2em 1em 0;
    }

    .confirm {
        cursor: pointer;
        font-weight: var(--fw-medium);
        font-size: var(--fs-small);
        color: var(--white);
        background-color: var(--purplish-blue);
        border-radius: var(--radius-sm);
        padding: 0.7em 1.2em;
        border: none;
    }

    @media (min-width: 1000px) {
        .arcade {
            padding-bottom: 1em;
            margin-bottom: 1em;
        }

        tfoot {
            padding-top: 1.5em;
        }
    }
}
