@layer components {
    .plans-form .plans {
        display: grid;
        gap: 1rem;
        padding-bottom: 2em;
    }

    .plan {
        cursor: pointer;
        display: flex;
        border: 1px solid var(--light-gray);
        border-radius: var(--radius-md);
        background-color: var(--white);
        padding: 1em;
        gap: 1em;
    }

    .renewal {
        display: flex;
        justify-content: center;
        gap: 1rem;
        align-items: center;
        background-color: var(--alabaster);
        padding: 0.5em;
        border-radius: var(--radius-md);
    }

    .plan:hover,
    .plan:focus,
    .plan[aria-checked="true"] {
        background-color: var(--alabaster);
        border: 1px solid var(--purplish-blue);
        outline: none;
    }

    .switch {
        position: relative;
        display: flex;
        display: inline-block;
        width: 38px;
        height: 20px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--marine-blue);
        border-radius: 50px;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 12px;
        width: 12px;
        left: 4px;
        bottom: 4px;
        border-radius: 50%;
        background-color: var(--white);
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px var(--marine-blue);
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(17px);
        -ms-transform: translateX(17px);
        transform: translateX(17px);
    }

    .renewal:has(input:checked) span:last-child {
        color: var(--marine-blue);
    }

    .renewal:has(input:checked) span:first-child {
        color: var(--cool-gray);
    }

    .renewal:has(:not(input:checked)) span:first-child {
        color: var(--marine-blue);
    }

    .renewal:has(:not(input:checked)) span:last-child {
        color: var(--cool-gray);
    }

    @media (min-width: 1000px) {
        .plans-form .plans {
            grid-template-columns: repeat(3, 1fr);
        }

        .plan {
            display: grid;
            gap: 2rem;
        }
    }
}
