@layer base {
    :root {
        --marine-blue: hsl(213, 96%, 18%);
        --purplish-blue: hsl(243, 100%, 62%);
        --pastel-blue: hsl(228, 100%, 84%);
        --light-blue: hsl(206, 94%, 87%);
        --strawberry-red: hsl(354, 84%, 57%);
        --cool-gray: hsl(231, 11%, 63%);
        --light-gray: hsl(229, 24%, 87%);
        --magnolia: hsl(217, 100%, 97%);
        --alabaster: hsl(231, 100%, 99%);
        --white: hsl(0, 0%, 100%);

        --ff: "Ubuntu", sans-serif;

        --fs-base: 1rem;
        --fs-scale: 1.14;
        --fs-h1: calc(var(--fs-h2) * var(--fs-scale));
        --fs-h2: calc(var(--fs-h3) * var(--fs-scale));
        --fs-h3: calc(var(--fs-h4) * var(--fs-scale));
        --fs-h4: calc(var(--fs-h5) * var(--fs-scale));
        --fs-h5: calc(var(--fs-h6) * var(--fs-scale));
        --fs-h6: calc(var(--fs-base) * var(--fs-scale));
        --fs-small: calc(var(--fs-base) / var(--fs-scale));
        --fs-xs: calc(var(--fs-small) / var(--fs-scale));

        --fw-regular: 400;
        --fw-medium: 500;
        --fw-bold: 700;

        --radius-sm: 4px;
        --radius-md: 8px;
        --radius-lg: 10px;
    }

    *,
    *::after,
    *::before {
        box-sizing: border-box;
    }

    * {
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
    }

    ul[role="list"],
    ol[role="list"] {
        list-style-type: none;
    }

    input,
    button {
        font: inherit;
    }

    html,
    body {
        height: 100%;
    }

    body {
        font-family: var(--ff);
        background-color: var(--magnolia);
        color: var(--marine-blue);
        font-size: var(--fs-base);
        font-weight: var(--fw-regular);
        line-height: 1.5;
    }
}

@layer utilities {
    .cool-gray {
        color: var(--cool-gray);
    }

    .fs-small {
        font-size: var(--fs-small);
    }

    .fs-xs {
        font-size: var(--fs-xs);
    }

    .purplish-blue {
        color: var(--purplish-blue);
    }

    .fw-medium {
        font-weight: var(--fw-medium);
    }

    .fw-bold {
        font-weight: var(--fw-bold);
    }

    .text-center {
        text-align: center;
    }
}

@layer components {
    .container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    /* HEADER  */
    header {
        background-image: url("../assets/images/bg-sidebar-mobile.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    nav div {
        display: none;
    }

    nav a {
        display: grid;
        place-content: center;
        color: var(--white);
        border: 2px solid var(--white);
        border-radius: 50%;
        width: 40px;
        height: 40px;
        font-weight: var(--fw-bold);
        font-size: var(--fs-small);
    }

    .disable {
        pointer-events: none;
        border-color: var(--cool-gray);
        color: var(--cool-gray);
    }

    nav a.current,
    nav a:hover,
    nav a:focus {
        background-color: var(--light-blue);
        color: var(--marine-blue);
        border: none;
        outline: none;
    }

    nav ol {
        display: flex;
        gap: 1.5rem;
        justify-content: center;
        padding-top: 2em;
        min-height: 180px;
    }

    /* MAIN */
    main {
        flex: 1;
        transform: translateY(-5em);
        padding: 0 1em;
    }

    ::placeholder {
        color: var(--cool-gray);
        font-weight: var(--fw-medium);
    }

    fieldset {
        border: none;
    }

    .form-section {
        background-color: var(--white);
        padding: 2em;
        border-radius: var(--radius-lg);
    }

    .form-desc {
        margin-block: 0.25em 1.25em;
    }

    /* STEP 1 */
    .info-form {
        display: grid;
    }

    .info-form input {
        padding: 0.5em;
        border-radius: var(--radius-sm);
        border: 1px solid var(--light-gray);
        color: var(--marine-blue);
        font-weight: var(--fw-bold);
        margin-bottom: 1em;
    }

    .info-form input:last-child {
        margin-bottom: 0;
    }

    .info-form label {
        font-size: var(--fs-small);
        color: var(--marine-blue);
        margin-bottom: 0.2em;
    }

    /* STEP 2 */
    .plans-form .plans {
        display: grid;
        gap: 1rem;
        padding-bottom: 2em;
    }

    .plan {
        cursor: pointer;
        display: flex;
        border: 1px solid var(--light-gray);
        border-radius: var(--radius-md);
        background-color: var(--white);
        padding: 1em;
        gap: 1em;
    }

    .renewal {
        display: flex;
        justify-content: center;
        gap: 1rem;
        align-items: center;
        background-color: var(--alabaster);
        padding: 0.5em;
        border-radius: var(--radius-md);
    }

    .plan:hover,
    .plan:focus,
    .plan[aria-checked="true"] {
        background-color: var(--alabaster);
        border: 1px solid var(--purplish-blue);
        outline: none;
    }

    .switch {
        position: relative;
        display: flex;
        display: inline-block;
        width: 38px;
        height: 20px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--marine-blue);
        border-radius: 50px;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 12px;
        width: 12px;
        left: 4px;
        bottom: 4px;
        border-radius: 50%;
        background-color: var(--white);
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px var(--marine-blue);
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(17px);
        -ms-transform: translateX(17px);
        transform: translateX(17px);
    }

    .renewal:has(input:checked) span:last-child {
        color: var(--marine-blue);
    }

    .renewal:has(input:checked) span:first-child {
        color: var(--cool-gray);
    }

    .renewal:has(:not(input:checked)) span:first-child {
        color: var(--marine-blue);
    }

    .renewal:has(:not(input:checked)) span:last-child {
        color: var(--cool-gray);
    }

    @media (min-width: 1000px) {
        .plans-form .plans {
            grid-template-columns: repeat(3, 1fr);
        }

        .plan {
            display: grid;
            gap: 2rem;
        }
    }

    /* STEP 3 */
    .add-ons-form fieldset {
        display: grid;
        gap: 1rem;
    }

    .add-ons-form label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        cursor: pointer;
        padding: 1em 1em 1em 4em;
        border: 1px solid var(--light-gray);
        border-radius: var(--radius-md);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .add-ons-form input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkmark {
        position: absolute;
        top: 50%;
        left: 1em;
        transform: translateY(-50%);
        height: 25px;
        width: 25px;
        border-radius: var(--radius-sm);
        background-color: transparent;
        border: 1px solid var(--light-gray);
    }

    .add-ons-form input:checked ~ .checkmark {
        background-color: var(--purplish-blue);
        border: none;
    }
    .add-ons-form label:has(input:checked) {
        background-color: var(--alabaster);
        border: 1px solid var(--purplish-blue);
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    .add-ons-form input:checked ~ .checkmark:after {
        display: block;
    }

    .add-ons-form .checkmark:after {
        left: 10px;
        top: 4px;
        width: 6px;
        height: 15px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    /* STEP 4 */
    table {
        width: 100%;
    }

    tbody {
        display: block;
        padding: 1em;
        background-color: var(--alabaster);
        border-radius: var(--radius-md);
    }

    tr {
        display: flex;
        justify-content: space-between;
    }

    .arcade {
        border-bottom: 1px solid var(--cool-gray);
        padding-bottom: 0.75em;
        margin-bottom: 0.75em;
    }

    .arcade + tr {
        margin-bottom: 0.5em;
    }

    .arcade a {
        border-bottom: 1.8px solid var(--cool-gray);
    }

    tfoot {
        display: block;
        background-color: var(--white);
        padding: 2em 1em 0;
    }

    .confirm {
        cursor: pointer;
        font-weight: var(--fw-medium);
        font-size: var(--fs-small);
        color: var(--white);
        background-color: var(--purplish-blue);
        border-radius: var(--radius-sm);
        padding: 0.7em 1.2em;
        border: none;
    }

    @media (min-width: 1000px) {
        .arcade {
            padding-bottom: 1em;
            margin-bottom: 1em;
        }

        tfoot {
            padding-top: 1.5em;
        }
    }

    /* THANK YOU */
    .thank-you {
        display: grid;
        background-color: var(--white);
        padding: 5em 2em;
        border-radius: var(--radius-lg);
    }

    .thank-you-img {
        width: 56px;
        margin: 0 auto;
        height: 56px;
    }

    .thank-you-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .thank-you h1 {
        margin-block: 0.75em 0.2em;
    }

    .thank-you p {
        margin: 0 auto;
        width: 95%;
    }

    @media (min-width: 1000px) {
        .thank-you-img {
            width: 80px;
            height: 80px;
        }
    }

    /* FOOTER */
    footer {
        display: flex;
        justify-content: space-between;
        background-color: var(--white);
        padding: 1.2em;
    }

    .next-step,
    .go-back {
        cursor: pointer;
        font-weight: var(--fw-medium);
        font-size: var(--fs-small);
        border: none;
    }

    .go-back {
        background-color: transparent;
    }

    .next-step {
        color: var(--white);
        background-color: var(--marine-blue);
        margin-left: auto;
        padding: 0.7em 1.2em;
        border-radius: var(--radius-sm);
    }

    /* MEDIA */
    @media (min-width: 1000px) {
        body {
            margin: auto;
            display: grid;
        }

        .container {
            display: grid;
            background-color: var(--white);
            grid-template-columns: 300px 1fr;
            grid-template-rows: repeat(3, auto);
            width: 900px;
            margin: auto;
            height: auto;
            max-height: 950px;
            padding: 1em 5rem 1em 1em;
            column-gap: 5rem;
            border-radius: var(--radius-lg);
        }

        nav {
            padding-left: 2em;
        }

        nav div {
            display: block;
            color: var(--white);
        }

        nav div p:first-child {
            color: var(--pastel-blue);
            font-size: var(--fs-xs);
            text-transform: uppercase;
            font-weight: var(--fw-medium);
        }

        nav div p:last-child {
            font-size: var(--fs-small);
            font-weight: var(--fw-bold);
            text-transform: uppercase;
        }

        ol li {
            display: flex;
            gap: 1rem;
        }

        header {
            background-image: url("../assets/images/bg-sidebar-desktop.svg");
            background-position: center;
            grid-column: 1 / 2;
            grid-row: 1 / 3;
            border-radius: var(--radius-lg);
            min-height: 570px;
        }

        main {
            transform: translateY(0);
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            padding: 2em 0 0;
        }

        .form-title {
            font-size: var(--fs-h2);
        }

        footer {
            align-self: end;
            margin-top: 5em;
            padding: 0 0 1em;
        }

        .form-section {
            padding: 0;
        }

        nav ol {
            flex-direction: column;
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }
    }
}
